extends layout.pug

block content
    h1 Retailer
    if feedback.statusCode === 200
        h2 Discount successful applied
        p <b>Data:</b> #{JSON.stringify(feedback.data)}
    else
        h2 #{feedback.statusCode}: Error occurred
        p <b>Message:</b> #{feedback.message}