extends layout.pug

block content
    h1 Retailer
    if feedback.statusCode === 200
        h2 Order edited successfully
        p <b>Data:</b> #{JSON.stringify(feedback.data)}
    else
        h2 #{feedback.statusCode}: Error occured
        p <b>Message:</b> #{feedback.message}