html
    head
        title API - WebShop
        link(rel="stylesheet", href="/styles/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/api.css")
    body
        div(class="container")
            div(class='jumbotron', style='display: inline-block; width: 100%; background-color: #4d91ff; color: white')
                div(class="col-lg-2")
                    span(class="logo-item glyphicon glyphicon-bell")
                div(class="col-lg-10")
                    h1 Welcome to the API
            block content