html
    head
        title API - WebShop
        link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    body
        div(class="container", style="margin-top: 15px")
            div(class='jumbotron', style='display: inline-block; width: 100%; background-color: #4d91ff; color: white')
                div(class="col-lg-2")
                    span(class="logo-item glyphicon glyphicon-bell", style='font-size: 44px')
                div(class="col-lg-10")
                    h1 Welcome to the API
            block content