<div class="content-view" ng-controller="AccountController as account">
    <form class="auth-form-account" ng-submit="account.update()">
        <h1>Your account</h1>
        <div class="form-group">
            <label class="label">Firstname:</label>
            <input class="form-control" type="text" ng-model="account.data.account.firstname" name="firstname"
                   placeholder="Firstname"/>
        </div>
        <div class="form-group">
            <label class="label">Lastname:</label>
            <input class="form-control" type="text" ng-model="account.data.account.lastname" name="lastname"
                   placeholder="Lastname"/>
        </div>
        <div class="form-group">
            <label class="label">Email:</label>
            <input class="form-control" type="email" ng-model="account.data.account.email" name="email"
                   placeholder="Email"/>
        </div>
        <div class="form-group">
            <label class="label">Username:</label>
            <input class="form-control" type="text" ng-model="account.data.account.username" name="username"
                   placeholder="Username" disabled/>
        </div>
        <button class="btn btn-outline-primary">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update
        </button>
    </form>
    <br />
    <div>
        <h1>Profile example</h1>
        <p>View <a href="/assets/profiles/template.html" download>sample template</a></p>
    </div>
    <br />
    <form ng-submit="account.upload()">
        <h1>Upload your profile</h1>
        <div class="form-group">
            <input id='file-selector' type="file" ng-model="account.data.profile" name="profile"
                   ngf-select=""
                   ngf-accept="'.html'"
                   ngf-max-size="20MB" required />
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ account.data.progress }}"
                 aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width' : account.data.progress + '%' }">
                <span class="sr-only">{{ account.data.progress }} &</span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Upload
            </button>
        </div>
    </form>
    <br />
    <div>
        <h1>Share your profile</h1>
        <a ng-href="#!/account/{{auth.getUser()._id}}/profile">#!/account/{{auth.getUser()._id}}/profile</a>
    </div>
</div>
