<div class="alert-container">
    <div class="alert alert-success" ng-if="messages.success">
        <h4>Success-Message:</h4>
        <ul>
            <li>- {{ messages.success }}</li>
        </ul>
    </div>

    <div class="alert alert-danger" ng-if="messages.error">
        <h4>Error-Message:</h4>
        <ul>
            <li>- {{ messages.error }}</li>
        </ul>
    </div>

    <div class="alert alert-warning" ng-if="messages.warning">
        <h4>Warning-Message:</h4>
        <ul>
            <li>- {{ messages.warning }}</li>
        </ul>
    </div>

    <div class="alert alert-warning" ng-if="messages.validation">
        <h4>Validation-Messages:</h4>
        <ul ng-repeat="validationMessage in messages.validation">
            <li>- {{validationMessage}}</li>
        </ul>
    </div>
</div>
