<div class="cart-menu" ng-controller="CartController as cart">
    <table>
        <thead>
            <th>Name</th>
            <th>QTY</th>
            <th>Price</th>
            <th></th>
        </thead>
        <tbody ng-repeat="item in cart.data.items track by item.product._id" ng-show="cart.data.items.length > 0">
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ (item.product.price * item.quantity).toFixed(2) }} CHF</td>
            <td>
                <button class="btn btn-outline-primary btn-xs" ng-click="cart.remove($index)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </td>
        </tbody>
        <tbody ng-show="cart.data.items.length === 0">
            <td colspan="4">No items in cart</td>
        </tbody>
        <tfoot ng-show="cart.data.items.length > 0">
            <td>Sum:</td>
            <td></td>
            <td>{{ cart.data.totalPrice.toFixed(2) }} CHF</td>
            <td></td>
        </tfoot>
    </table>
    <div class="cart-auth-wrapper" ng-controller="AuthController as auth">
        <button type="button" class="btn btn-outline-primary"
                ng-if="auth.isAuthenticated() === true && cart.data.items.length > 0" ng-click="order.createTemp()">
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Check out
        </button>
    </div>
</div>