<div class="chat">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Support Chat</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 user-list">
                    <ul class="list-group">
                        <li class="list-group-item"
                            ng-repeat="user in websocket.userList | filter: { _id : '!' + websocket.user._id }"
                            ng-class="{ 'active' : user._id === websocket.selectedUser._id}"
                            ng-click="websocket.selectedUser(user);"
                            ng-style="{'cursor': 'pointer'}">
                            {{ user.username }}
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 message-box">
                    <div class="message-container">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="message in websocket.messages">
                                {{ message.from }} says: {{ message.msg }}
                            </li>
                        </ul>
                        <div class="alert alert-warning" ng-show='messages.length == 0'>
                            No messages for you.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input class="form-control" ng-model='websocket.message'>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="websocket.sendMsg()">Send...</button>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="chat-button" ng-if="auth.isAuthenticated()">
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="nav.collapseChat('.chat')">
        <span class="glyphicon glyphicon glyphicon-modal-window" aria-hidden="true"></span> Chat
    </button>
</div>