<div class="chat" ng-if="auth.isAuthenticated()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Community Chat</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col col-xs-3">
                    Users
                </div>
                <div class="col col-xs-9">
                    Messages
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-3 user-list">
                    <div class="wrapper-loading" ng-if="websocket.isLoadingUserList">
                        <span class="helper"></span>
                        <img src="/assets/helper/loading.gif">
                    </div>
                    <button type="button" class="btn btn-default"
                            ng-repeat="user in websocket.userList | filter: { userId : '!' + auth.getUser()._id }"
                            ng-class="{ 'btn-primary' : user._id === websocket.selectedUser._id}"
                            ng-click="websocket.selectUser(user);"
                            ng-if="!websocket.isLoadingUserList">
                        {{ user.username }}
                        <span class="glyphicon glyphicon-info-sign text-info" ng-if="websocket.messages.length > 0 && !websocket.selectedUser"></span>
                    </button>
                    <!--<ul class="list-group" ng-if="!websocket.isLoadingUserList">
                        <li class="list-group-item"
                            ng-repeat="user in websocket.userList | filter: { userId : '!' + auth.getUser()._id }"
                            ng-class="{ 'active' : user._id === websocket.selectedUser._id}"
                            ng-click="websocket.selectUser(user);"
                            ng-style="{'cursor': 'pointer'}" id="user._id">
                            {{ user.username }}
                        </li>
                    </ul>-->
                </div>
                <div class="col col-xs-9 message-box">
                    <div class="message-container">
                        <div class="wrapper-loading" ng-if="websocket.isLoadingMessages">
                            <span class="helper"></span>
                            <img src="/assets/helper/loading.gif">
                        </div>
                        <ul class="list-group" ng-if="websocket.selectedUser && !websocket.isLoadingMessages">
                            <li class="list-group-item" ng-class="message.from.userId === auth.getUser()._id ? 'pull-right' : 'pull-left'" ng-repeat="message in websocket.messages | orderBy : message : true">
                                <div>{{ message.text }}</div>
                                <span class="datetime pull-right">{{ message.createdAt | date : 'dd.MM.yyyy HH:mm:ss' : '+0200' }} </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input class="form-control" ng-model='websocket.message'>
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="websocket.sendMessage()">Send...</button>
            </span>
            </div>
        </div>
    </div>
</div>
