<div class="content-view" ng-controller="CreditCardsController as creditCards">
    <h1>Order - Payment</h1>
    <h2>{{ order.data.order._id }}</h2>
    <div class="wizard">
        <hr>
        <div class="icon-wrapper col col-xs-4">
            <div class="icon">
                <span class="glyphicon glyphicon-shopping-cart"></span>
            </div>
        </div>
        <div class="icon-wrapper col col-xs-4">
            <div class="icon">
                <span class="glyphicon glyphicon-send"></span>
            </div>
        </div>
        <div class="icon-wrapper col col-xs-4">
            <div class="icon active">
                <span class="glyphicon glyphicon-euro"></span>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <input type="radio" name="type" ng-model="order.data.order.payment.type" value="bill" ng-change="order.changePayment()">
            <h3 class="panel-title">Bill</h3>
        </div>
        <div class="panel-heading">
            <input type="radio" name="type" ng-model="order.data.order.payment.type" value="creditCard" ng-if="creditCards.data.creditCards.length > 0">
            <h3 class="panel-title">Credit card</h3>
        </div>
        <div class="panel-body" ng-if="creditCards.data.creditCards.length === 0">
            <h1>No credit card found</h1>
            <p>Please follow this <a href="#!/creditcards">link</a> to add a credit card.</p>
        </div>
        <div class="panel-body" ng-if="creditCards.data.creditCards.length > 0">
            <table class="checkout-table">
                <thead>
                    <th></th>
                    <th>Credit card</th>
                </thead>
                <tbody ng-repeat="creditCard in creditCards.data.creditCards">
                    <td>
                        <input type="radio" name="creditCard" ng-model="order.data.order.payment._creditCard"
                               ng-value="creditCard._id">
                    </td>
                    <td>
                        <p><label>Number:</label>{{ creditCard.number }}</p>
                        <p><label>Type:</label>{{ creditCard.type }}</p>
                    </td>
                </tbody>
            </table>
        </div>
    </div>

    <a type="button" class="btn btn-outline-primary back" href="#!/checkout/address">
        <span class="glyphicon glyphicon glyphicon-backward" aria-hidden="true"></span> Back
    </a>
    <button type="button" class="btn btn-outline-primary next" ng-click="order.updateTemp(); order.save()"
        ng-disabled="order.data.order.items.length === 0 || !order.data.order._deliveryAddress || !order.data.order.payment || !(order.data.order.payment.type === 'bill' && !order.data.order.payment._creditCard) && !(order.data.order.payment.type === 'creditCard' && order.data.order.payment._creditCard)">
        <span class="glyphicon glyphicon glyphicon-forward" aria-hidden="true"></span> Finish
    </button>
</div>
