<div class="content-view" ng-controller="CreditCardController as creditCard">

    <form class="creditCard-form" ng-submit="creditCard.insert()">
        <h1>Insert your credit card</h1>
        <div class="form-group">
            <label class="label">Number:</label>
            <input class="form-control" type="text" ng-model="creditCard.data.creditCard.number" name="number"
                   placeholder="Number" required />
        </div>
        <div class="form-group">
            <label class="label">Type:</label>
            <select class="form-control" ng-model="creditCard.data.creditCard.type" name="type" required>
                <option value="Mastercard">Mastercard</option>
                <option value="Visa">Visa</option>
            </select>
        </div>
        <div class="form-group">
            <label class="label">CVV:</label>
            <input class="form-control" type="text" ng-model="creditCard.data.creditCard.cvv" name="cvv"
                   placeholder="CVV" required />
        </div>
        <div class="form-group">
            <label class="label">Month:</label>
            <select class="form-control" ng-options="month.value as month.text for month in creditCard.months"
                    ng-model="creditCard.data.creditCard.month" required></select>
        </div>
        <div class="form-group">
            <label class="label">Year:</label>
            <select class="form-control" ng-options="year for year in creditCard.years" ng-model="creditCard.data.creditCard.year" required></select>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
            </button>
        </div>
    </form>
</div>
