<div class="content-view" ng-controller="FaqController as faq">
    <h1>FAQ</h1>
    <form name="search">
        <div class="form-group">
            <input name="searchField" ng-class="{'input-loading-spinner': faq.spinner}" class="form-control" ng-model="faq.data.searchValue" ng-enter="faq.getFaqBySearchValue()"
                   placeholder="{{!faq.spinner ? 'Search within the FAQ': 'Loading...'}}">
        </div>
        <div class="panel panel-default" ng-repeat="faq in faq.data.FaqQuestions">
            <div class="panel-heading"><b>{{ faq.question }}</b></div>
                <div class="panel-body">{{ faq.answer }}</div>
        </div>
        <div class="faqNotFound" ng-if="!faq.data.FaqQuestions">We're sorry, but we couldn't find anything.</div>
    </form>
</div>
