<div class="content-view" ng-controller="OrdersController as orders">
    <h1>My Orders</h1>
    <form class="form-export" ng-submit="orders.downloadPDF()">
        <div class="row">
            <div class="form-group col-xs-3">
                <label>From</label>
            </div>
            <div class="form-group col-xs-3">
                <label>Quantity</label>
            </div>
            <div class="form-group col-xs-3"></div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3">
                <input class="form-control" type="text" placeholder="From" ng-model="orders.export.from" required>
            </div>
            <div class="form-group col-xs-3">
                <input class="form-control" type="text" placeholder="Quantity" ng-model="orders.export.quantity" required>
            </div>
            <div class="form-group col-xs-3">
                <input class="btn btn-primary" type="submit" value="Export pdf">
            </div>
        </div>
    </form>
    <div ng-if="orders.export.from.length && orders.export.quantity.length">
        <p>Your selection will export orders {{orders.getExportFrom()}} to {{orders.calculateExportOrders()}}</p>
    </div>
    <table class="tblOrders">
        <thead>
        <th>#</th>
        <th>Created</th>
        <th>Order</th>
        <th>Status</th>
        <th>Total price</th>
        </thead>
        <tbody ng-repeat="order in orders.data.orders">
            <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ order.createdAt | date : 'dd.MM.yyyy HH:mm:ss' : '+0200' }}</td>
                <td>{{ order._id }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.totalPrice.toFixed(2) }} CHF</td>
            </tr>
            <tr>
                <td colspan="5">
                    <table>
                        <tbody>
                        <tr ng-repeat="item in order.items">
                            <td colspan="4">
                                <ul>
                                    <li>{{ item.quantity }} x {{ item.product.name }} - {{ item.product.category.name }}</li>
                                </ul>
                            </td>
                            <td>{{ (item.product.price * item.quantity).toFixed(2) }} CHF</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
