<div class="content-view" ng-controller="ProductController as product">
    <h1>{{ product.data.product.name }}</h1>
    <div class="col-xs-5">
        <a href="/product-images/{{ product.data.product.image }}" data-lity="">
            <img class="product-image" alt="Product Image" ng-src="/product-images/{{ product.data.product.image }}"/>
        </a>
    </div>
    <div class="product-detail col col-xs-7">
        <p><b>Category:</b> {{ product.data.product.category.name }}</p>
        <p><b>Size:</b> {{ product.data.product.size }} cm</p>
        <p><b>Price:</b> {{ product.data.product.price.toFixed(2) }} CHF</p>
        <p><b>In stock:</b> Yes</p>
        <p><b>Current rating:</b>
            <jk-rating-stars max-rating="5" rating="product.data.product.rating.value"
                read-only="true"></jk-rating-stars>
        </p>
    </div>

    <div ng-controller="AuthController as auth">
        <form ng-submit="product.saveQuestion()" ng-if="auth.isAuthenticated()">
            <h2>Add a question</h2>
            <div class="form-group">
                <label>Question:</label>
                <textarea class="form-control" type="text" ng-model="product.data.question.text" placeholder="Add your question..." required></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>

        <h2>Existing questions</h2>
        <div class="questions" ng-repeat="question in product.data.product.questions">
            <div class="question">
                <p ng-bind-html="question.text" trustAsHtml></p>
                <span class="question-info pull-right"><a ng-href="#!/account/{{question._account._id}}/profile">{{ question._account.username }}</a> at {{ question.createdAt | date : 'dd.MM.yyyy HH:mm:ss' : '+0200'}}</span>
            </div>
        </div>
    </div>
</div>
