<div class="content-view">
    <form class="product-sort-form">
        <div class="col col-xs-6">
            <label>Sort:</label>
            <select class="form-control" ng-model="shop.data.sortSelected" ng-change="shop.sort.change()">
                <option ng-value="shop.data.sort.name.query">{{ shop.data.sort.name.label }}</option>
                <option ng-value="shop.data.sort.category.query">{{ shop.data.sort.category.label }}</option>
                <option ng-value="shop.data.sort.price.query">{{ shop.data.sort.price.label }}</option>
                <option ng-value="shop.data.sort.size.query">{{ shop.data.sort.size.label }}</option>
                <option ng-value="shop.data.sort.rating.query">{{ shop.data.sort.rating.label }}</option>
            </select>
        </div>
        <div class="col col-xs-6">
            <label>Orientation:</label>
            <button class="btn btn-default" ng-click="shop.changeOrientation('wide')"
                    ng-class="shop.productOrientation === 'wide' ? 'active' : ''">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default" ng-click="shop.changeOrientation('small')"
                    ng-class="shop.productOrientation === 'small' ? 'active' : ''">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
        </div>
    </form>
    <div class="products"
         ng-repeat="product in shop.data.products | toArray: false | orderBy: shop.data.sortSelected track by product._id"
         ng-class="shop.productOrientation">
        <div class="product-container">
            <div class="product">
                <div class="col col-xs-3">
                    <a href="/product-images/{{ product.image }}" data-lity="">
                        <img class="product-image" alt="Product Image" ng-src="/product-images/{{ product.image }}"/>
                    </a>
                </div>
                <div class="col col-xs-4">
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-category">{{ product.category.name }}</p>
                    <p class="product-value">{{ product.size }} cm</p>
                    <p class="product-price">{{ product.price.toFixed(2) }} CHF</p>
                </div>
                <div class="col col-xs-5">
                    <div class="product-rating">
                        <span class="rating-average">&empty; {{ product.rating.value }}</span>
                        <jk-rating-stars max-rating="5" rating="product.rating.value"
                                         read-only="true"></jk-rating-stars>
                    </div>
                    <div class="product-menu">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"
                              ng-click="shop.collapseRatingForm(product._id)" ng-if="auth.isAuthenticated() === true"></span>
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"
                              ng-click="cart.insert(product); nav.collapseCartNavigation('.cart-menu', '.auth-menu');"></span>
                    </div>
                </div>
                <div ng-if="auth.isAuthenticated() === true">
                    <div ng-repeat="rating in product.ratings | filter : {_account: auth.getUser()._id} track by rating._id">
                        <form ng-attr-id="{{ 'shop-form-rating-' + product._id }}" class="shop-form-rating"
                              ng-submit="shop.rateProduct(product, rating);" ng-if="rating">
                            <div class="form-group">
                                <jk-rating-stars class="no-zero" max-rating="5" rating="rating.value" read-only="false"></jk-rating-stars>
                            </div>
                            <input class="form-control" type="hidden" min="0" max="5" value="0" name="value" ng-model="rating.value" required>
                            <div class="form-group">
                                <textarea class="form-control" name="comment" ng-model="rating.comment"
                                          placeholder="Comment" required></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-primary">Update</button>
                            </div>
                        </form>
                    </div>
                    <div ng-if="(product.ratings | filter : {_account: auth.getUser()._id}).length === 0" ng-init="rating = {comment: '', value: 0}">
                        <form ng-attr-id="{{ 'shop-form-rating-' + product._id }}" class="shop-form-rating"
                              ng-submit="shop.rateProduct(product, rating); rating = {comment: '', value: 0}">
                            <div class="form-group">
                                <jk-rating-stars class="no-zero" max-rating="5" rating="rating.value" read-only="false"></jk-rating-stars>
                            </div>
                            <input class="form-control" type="hidden" min="0" max="5" value="0" name="value" ng-model="rating.value" required>
                            <div class="form-group">
                            <textarea class="form-control" name="comment" ng-model="rating.comment"
                                      placeholder="Comment" required></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>