<div class="content-view">
    <form class="product-sort-form">
        <div class="col col-xs-6">
            <label>Sort:</label>
            <select class="form-control" ng-model="shop.data.sortSelected" ng-change="shop.sort.change()">
                <option ng-value="shop.data.sort.name.query">{{ shop.data.sort.name.label }}</option>
                <option ng-value="shop.data.sort.category.query">{{ shop.data.sort.category.label }}</option>
                <option ng-value="shop.data.sort.price.query">{{ shop.data.sort.price.label }}</option>
                <option ng-value="shop.data.sort.size.query">{{ shop.data.sort.size.label }}</option>
                <option ng-value="shop.data.sort.rating.query">{{ shop.data.sort.rating.label }}</option>
            </select>
        </div>
        <div class="col col-xs-6">
            <label>Orientation:</label>
            <button class="btn btn-default" ng-click="shop.changeOrientation('wide')"
                    ng-class="shop.productOrientation === 'wide' ? 'active' : ''">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default" ng-click="shop.changeOrientation('small')"
                    ng-class="shop.productOrientation === 'small' ? 'active' : ''">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
        </div>
    </form>
    <div class="products"
         ng-repeat="product in shop.data.products | toArray: false | orderBy: shop.data.sortSelected track by product._id"
         ng-class="shop.productOrientation">
        <div class="product-container">
            <div class="product">
                <div class="col col-xs-3"><img class="product-image" alt="Product Image"
                                               ng-src="http://localhost:3000/product-images/{{ product.image }}"/></div>
                <div class="col col-xs-4">
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-category">{{ product.category.name }}</p>
                    <p class="product-value">{{ product.size }} cm</p>
                    <p class="product-price">{{ product.price }} CHF</p>
                </div>
                <div class="col col-xs-5">
                    <div class="product-rating">
                        <span class="rating-average">&empty; {{ product.rating.value }}</span>
                        <jk-rating-stars max-rating="5" rating="product.rating.value"
                                         read-only="true"></jk-rating-stars>
                    </div>
                    <div class="product-menu">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"
                              ng-click="shop.collapseRatingForm(product._id)" ng-if="auth.isAuthenticated() === true"></span>
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"
                              ng-click="cart.insert(product); nav.collapseCartNavigation('.cart-menu', '.auth-menu')"></span>
                    </div>
                </div>
                <div ng-init="ratingLength = (product.ratings | filter: {_account: auth.getUser()._id}).length">
                    <div ng-if="auth.isAuthenticated() === true && ratingLength > 0">
                        <div ng-repeat="ratingByAccount in product.ratings | filter: {_account: auth.getUser()._id} track by ratingByAccount._id">
                            <form ng-attr-id="{{ 'shop-form-rating-' + product._id }}" class="shop-form-rating"
                                  ng-submit="shop.rateProduct(product, ratingByAccount)">
                                <div ng-if="product.formSubmitFailed" class="alert alert-danger"><strong>Rating failed!</strong>
                                </div>
                                <div class="form-group">
                                    <jk-rating-stars max-rating="5" rating="ratingByAccount.value" read-only="false"
                                                     on-rating="shop.changeInputRatingValue(product, ratingByAccount.value)"></jk-rating-stars>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="comment" ng-model="ratingByAccount.comment"
                                              placeholder="Comment" required></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div ng-if="auth.isAuthenticated() === true && ratingLength === 0">
                        <div ng-init="ratingEmptyByAccount = { value: 0, comment: ''}">
                            <form ng-attr-id="{{ 'shop-form-rating-' + product._id }}" class="shop-form-rating"
                                  ng-submit="shop.rateProduct(product, ratingEmptyByAccount)">
                                <div ng-if="product.formSubmitFailed" class="alert alert-danger"><strong>Rating failed!</strong>
                                </div>
                                <div class="form-group">
                                    <jk-rating-stars max-rating="5" rating="ratingEmptyByAccount.value" read-only="false"
                                                     on-rating="shop.changeInputRatingValue(product, ratingEmptyByAccount.value)"></jk-rating-stars>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="comment" ng-model="ratingEmptyByAccount.comment"
                                              placeholder="Comment" required></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-outline-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>