<div class="sidebar-topRatedProduct-wrapper col col-sm-6 col-md-12" ng-controller="TopRatedProductController as topRated">
    <div class="sidebar-topRatedProduct">
        <h3>Top rated product</h3>
        <div class="topRatedProduct-wrapper"
             ng-repeat="topRatedProduct in topRated.products | toArray: false | orderBy: '-rating.value' | limitTo: 1">
            <h4>{{ topRatedProduct.name }} - {{ topRatedProduct.category.name }}</h4>
            <div class="image-wrapper">
                <a href="/product-images/{{ topRatedProduct.image }}" data-lity>
                    <img ng-src="/product-images/{{ topRatedProduct.image }}" alt="Top Rated Product">
                </a>
            </div>
            <div class="rating-average-wrapper">
                <span class="rating-average">&empty; {{ topRatedProduct.rating.value }}</span>
                <jk-rating-stars max-rating="5" rating="topRatedProduct.rating.value" read-only="true"></jk-rating-stars>
            </div>
            <div class="rating-wrapper"
                 ng-repeat="topRatedProductRating in topRatedProduct.ratings | toArray: false | orderBy: '-updatedAt' | limitTo: 1">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <!-- Injection Code Start - XSS -->
                <div class="comment-wrapper" ng-bind-html="topRatedProductRating.comment | trustAsHTML"></div>
                <!-- Injection Code End -->
                <span class="rating-date">{{ topRatedProductRating.createdAt | date : 'dd.MM.yyyy HH:mm:ss' : '+0200' }}</span>
            </div>
        </div>
    </div>
</div>